profiles {
    slurm  {
        process {
            executor = 'slurm'
            queueSize = 999
            cpus = 1
            memory = '6GB'

            withName: split_fastqs {
                memory = '64GB'
                time = '2h'
            }
        }
    }

    slurm-singularity  {
        process {
            executor = 'slurm'
            queueSize = 999
            cpus = 1
            memory = '6GB'

            withName: split_fastqs {
                memory = '64GB'
                time = '2h'
            }
        }
    }

   local {
        process {
            executor = 'local'
            
        }
    }

    local-docker {
        docker.enabled = true
        docker.runOptions = '-v /Users/jyesselman2/projects/nextflow/test_rna_map/inputs:/inputs'
        process {
            executor = 'local'
            container = 'rna-map-nextflow:latest'
            
        }
        cpus = 8
    }
}