process {
    memory = '6GB'
    time = '2h'

    withName: split_fastqs {
        memory = '64GB'
        time = '2h'
    }
    withName:  internal_demultiplex {
        time = '24h'
    }
    withName: join_zip_files {
        cpus = 16
    }
}
executor {
    name = 'slurm'
    queueSize = 950    
    submitRateLimit = '10sec'
}
