process {
    memory = '6GB'
    time = '2h'
    beforeScript = '''
        module load anaconda
        conda activate rna-map-nextflow
        module load fastqc
        module load trim_galore
    '''
    errorStrategy = 'retry'
    maxRetries = 3

    withName: split_fastqs {
        memory = '64GB'
        time = '2h'
    }
    withName:  internal_demultiplex {
        time = '24h'
    }
    withName: join_zip_files {
        cpus = 16
    }
}
executor {
    name = 'slurm'
    queueSize = 950    
    submitRateLimit = '50sec'
}
